<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='main.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    {% block head %}{% endblock %}
</head>

<body {% block body_attrs %}{% endblock %}>
    <header><nav>
        <ul>
            <li><a href="/search/">Search</a></li>
            <li><a href="/classification/">Zero-Shot Classification</a></li>
            <li><a href="/settings/">Settings</a></li>
        </ul>
        <form class="search" action="/search/">
            <input type="text" placeholder="Search.." name="q">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </nav></header>
    <main>
        <h1 id="heading">{% block heading %}{% endblock %}</h1>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </main>


</body></html>