{% extends "base.html" %}


{% block title %}Image Search{% endblock %}
{% block heading %}Image Search{% endblock %}

{% block content %}

<div id="form-container">
    <form method="post" enctype="multipart/form-data" onsubmit="" method="POST">
        <input type="file" name="upload" accept="image/*" class="drop-area" required><br>
        <button type="submit" class="submit">Search</button>
    </form>
</div>

<div class="gallery">
    {% for value in result %}
        <img src={{value}}>
    {% endfor %}
</div>

{% endblock %}