{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
function body_onload()
{
    
}
function save_validation(form)
{
    if (form.model.value === "{{model_selected}}")
        return true;
    return confirm("The selected model has changed - the application will be restarted. If the database for selected model doesn't exist, all images will be embedded and added to the database. Otherwise you might want to manually refresh the databse after restart to reflect the changes in the data directory. Are you sure you want to continue?");
}
function refresh_validation(form)
{
    return confirm("The data directory will be rescanned and embeddings for files with changed timestamp will be regenerated. Are you sure you want to continue?");
}
function reset_validation(form)
{
    return confirm("Reseting the whole database might take a while - the data directory will be rescanned and ALL files will be re-embedded. Are you sure you want to continue?");
}
</script>

{% endblock %}

{% block title %}Settings - CLIP-Search{% endblock %}
{% block heading %}Settings{% endblock %}

{% block body_attrs %}onload=body_onload(){% endblock %}
{% block content %}
{% if success_msg %}<code class="success">{{success_msg}}</code>{% endif %}
{% if error_msg %}<code class="error">{{error_msg}}</code>{% endif %}

<hr>
<h2>General</h2>
<form method="POST">
    <table>
    <tr>
        <td>Model selector:</td>
        <td><select name="model" id="model">
            {% for model in models %}
            <option value={{model}} {% if model == model_selected %}selected="selected"{% endif %}>{{model}}</option>
            {% endfor %}
        </select></td>
    </tr>
    <tr>
        <td>Results per page:</td>
        <td><select name="results_per_page" id="results_per_page">
            {% for k in results_per_page %}
            <option value={{k}} {% if k==results_per_page_selected %}selected="selected"{% endif %}>{{k}}</option>
            {% endfor %}
        </select></td>
    </tr>
    </table>
    <button type="submit" name="action" onclick="return save_validation(this.form);" value="save">Save</button>
</form>

<hr/>
<div>
    <h2>Library Control</h2>
    <form action="/settings/db_refresh/" style="display:inline-block"><button type="submit" title="Rescan the library and re-embed changed files." onclick="return refresh_validation(this.form);" value="refresh">Refresh</button></form>
    <form action="/settings/db_reset/" style="display:inline-block"><button type="submit" title="Delete whole database, rescan the library and generate embeddings from scratch." onclick="return reset_validation(this.form);" value="reset">Full Reset</button></form>
</div>
<hr/>
<div>
    <h2>App Control</h2>
    <form action="/settings/restart/" style="display:inline-block"><button type="submit" value="Restart">Restart</button></form>
    <form action="/settings/shutdown/" style="display:inline-block"><button type="submit" value="Shutdown">Shutdown</button></form>
</div>
{% endblock %}